html, body, * {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color: rgb(187, 223, 255);
  background: rgb(0, 3, 51);
  font-family: 'Gemunu Libre', sans-serif;
}
h1 {
  text-align: center;
  background: rgba(0, 87, 145, 0.459);
  padding: 20px;
  font-size: 50px;
  box-shadow: 10px 10px #7589ff98;
  font-family: 'Alkalami', serif;

}
h2 {
  font-size: 30px;
  color: #bbd6ff
}
h2:hover {
  font-size: 40px;
  color: rgb(113, 180, 255)
}
.link {
  font-size: 20px;
  text-align: center;
}
.button {
  color: rgb(164, 148, 255);
  text-decoration: overline;
  font-size: 20px;
  border: transparent;
}
.button:hover {
  color: rgb(71, 144, 255);
  font-size: 25px;
  text-decoration: underline;
}
.Games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  width: 95vw;
  justify-content: space-around;
}
.Child {
  margin-top: 20px;
  border: 20px solid rgba(0, 87, 145, 0.459);
  padding: 10px;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 10px 10px #7589ff98;
}
.images {
  width: 100%;
  margin-bottom: 10px;
}
.images {
  opacity: 1;
}
.images:hover {
  opacity: 0.5;
}
.images {
  position: relative;
  width: 360px; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}
.images img.images-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.images:hover img.images-hover {
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .Games{
    flex-direction: row;
  }
  .Child{
    width: 45%
  }
}
@media screen and (max-width: 600px) {
  .Games{
    flex-direction: column;
  }
  .Child{
    width: 100%
  }
}