html, body, * {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  background-image:
    url("https://play-lh.googleusercontent.com/lyZSUZ8n2YnI0rnoNrKIQwUKp-kshZ0X4tkDTSiTryJD3uQ5dmfDYjnsNRCJtejpcA=w3840-h2160-rw");
  background-size: 1920px;
  color: rgb(187, 223, 255);
}
h1,h6 {
  text-align: center;
  background: rgb(0, 31, 39);
  padding: 5px;
}
h2 {
  font-size: 30px;
}
.Games {
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
}
.child {
  border: 10px solid rgb(181, 255, 248);
  margin-top: 20px;
}
.images {
  width: 30%;
}