html, body, * {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  color: rgb(187, 223, 255);
  background: rgb(0, 3, 51);
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
}
h1 {
  background: rgba(0, 65, 109, 0.788);
  padding: 20px;
  box-shadow: 10px 10px #7589ff98;
  font-family: 'Alkalami', serif;
  text-transform: uppercase;
  background-image: linear-gradient(
     -225deg,
     #00ff95 0%,
     #1100ff 29%,
     #00a2ff 45%,
     #00ff80 68%,
     #258300 100%
   );
   background-size: 200% auto;
   color: #fff;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 3s linear infinite;
   display: inline-block;
       font-size: 50px;
 }
 
 @keyframes textclip {
   to {
     background-position: 100% center;
   }
 }
h2 {
  font-size: 40px;
  color: #bbd6ff;
  transition-duration: 0.5s;
}
h2:hover {
  font-size: 50px;
  color: rgb(113, 180, 255)
}
.link {
  font-size: 20px;
  text-align: center;
}
.button {
  color: rgb(164, 148, 255);
  text-decoration: overline;
  font-size: 30px;
  border-color: rgb(164, 148, 255);
  border-width: 3px;
  box-shadow: 3.5px 3.5px rgba(231, 238, 245, 0.342);
  transition-duration: 1s;
}
.button:hover {
  color: rgb(57, 143, 255);
  font-size: 30px;
  text-decoration: underline;
}
.button:active {
  transform: translateY(4px);
}
.Games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  width: 98.5vw;
  justify-content: space-around;
  align-content: space-around;
}
.Child {
  margin-top: 20px;
  border: 20px solid rgba(0, 87, 145, 0.459);
  padding: 6px;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 10px 10px #7589ff98;
}
.Child-2 {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background: url(./img/cmg2.jpg);
  background-repeat: no-repeat;
}
.Child-2:hover .overlay {
  opacity: 1;
}
.image-hover{
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.images {
  width: 100%;
  margin-bottom: 10px;
}
.images {
  opacity: 1;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0, 3, 51);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.images::after{
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgb(0, 3, 51);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.images:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.images:hover::after {
  opacity: 1;
}
#ABCYA-button {
  transition: all .5s ease;
  color: rgb(164, 148, 255);
  border: 3px solid rgb(164, 148, 255);
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
#ABCYA-button:hover {
  color: #001F3F;
  background-color: rgb(164, 148, 255);
}

#gonoodle-button {
  opacity: 1;
  outline: 0;
  color: rgb(164, 148, 255);
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
#gonoodle-button:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
#gonoodle-button:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
#gonoodle-button:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: rgb(0, 3, 51);
  display: block;
  transition: 0.5s;
  position: absolute;
  background: rgb(164, 148, 255);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
#gonoodle-button:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: rgb(164, 148, 255);
  display: block;
  padding: 0 30px;
  line-height: 35px;
  transition: 0.5s;
  position: relative;
  background: rgb(0, 3, 51);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
#minecraft-button:hover, 
#minecraft:focus {
  box-shadow: 0 0.5em 0.5em -0.2em var(--hover);
  transform: translateY(-0.25em);
}
#minecraft-button {
  --color: rgb(57, 143, 255);
  --hover: #b8cbff;
}
@media screem and (max-width: 1500px) {
  .Games{
    flex-direction: row;
  }
  .Child{
    width: 35%;
  }
}
@media screen and (max-width: 1000px) {
  .Games{
    flex-direction: row;
  }
  .Child{
    width: 45%
  }
  .button{
    font-size: 20px;
  }
  .h2{
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .Games{
    flex-direction: column;
  }
  .Child{
    width: 90%
  }
  .button{
    font-size: 25px;
  }
  .h2{
    font-size: 40px;
  }
}
